<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<!-- Create one heading at level 1 -->
<h1>Welcome to My Page</h1>
<!-- Create two headings at level 2 -->
<h2>This is my first header using Level 2</h2>
<h2 class="brightred">This is my second header using Level 2</h2>
<!-- Create at least two paragraphs. The paragraphs do not need to be lengthy.-->
<!-- Incorporate important and emphasized text at least twice each. -->
<p>Hi, my name is Sushil. This is my <em>first paragraph.</em> <strong>Hello there!</strong></p>
<p class = "big-red">This is my <em>second paragraph.</em> This is <strong>Sushil</strong> from BMGT407!</p>
<p id="special-one">I would like to show you this special third paragraph!</p>

<!-- Create at least one unordered and one ordered list. -->
<p> Below is an unordered list of my <strong> favorite </strong> foods: </p>
<ul>
    <li>Pizza</li>
    <li>Chicken Tenders</li>
    <li>Brownies</li>
    <li>Cookies</li>

</ul>

<p> Below is an ordered list of my <strong> favorite </strong> days of the week: </p>
<ol>
    <li>Saturday</li>
    <li>Friday</li>
    <li>Thursday</li>
    <li>Wednesday</li>
    <li>Tuesday</li>
    <li>Sunday</li>
    <li>Monday</li>
</ol>

<!-- Create a table of at least 3 rows listing courses you took and the semesters in which you took them. -->
<table>
    <tr>
        <th>Course</th>
        <th>Semester I Took It In</th>
    <tr>
        <td>BMGT402F</td>
        <td>Spring 2023</td>
    </tr>
    <tr>
        <td>BMGT403</td>
        <td>Fall 2023</td>
    </tr>
    <tr>
        <td>BMGT407</td>
        <td>Spring 2024</td>
    </tr>
</table>

<!-- Create a relative hyperlink to your /hello route. -->
<p> A link to my <a href="/hello">Hello Page</a></p>
<!-- Create at least two hyperlinks to your favorite Web sites, one of which must open in a new browser tab. -->
<p> A link to the <a href="https://www.testudo.umd.edu/">Testudo Page</a></p>
<p> A link to the <a href="https://news.google.com/home?hl=en-US&gl=US&ceid=US:en" target = "_blank">Google News Page</a></p>

<!-- Add the Robert H. Smith logo to your Web page, correctly sized with a listed width and height.
Use https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png, for the location of the image. -->
<img class = "img.logo" src = "https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
      alt="Smith Logo">


</body>
</html>
